################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VSAirshipmod/VSAirshipmod/Properties/launchSettings.json
/VSAirshipmod/VSAirshipmod/Properties/launchSettings.json
/.gitignore
